@charset "UTF-8";
/*
Переменные-----------------------------------------
*/
/*
Подключение шрифтов--------------------------------
*/
@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/OpenSans-SemiBold.ttf);
  font-weight: 500;
}

/*
Настройка шапки-----------------------------------
*/
.head {
  width: 100%;
  height: 40px;
  background-color: #2A2A30;
}

.head__flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.head__flexContainer__selector {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head__flexContainer__selector__tableCompany {
  background-color: #2A2A30;
  width: 100%;
  height: 0;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  padding: 0 10px;
  margin: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.head__flexContainer__selector__tableCompany_action {
  height: 110px;
  border-top: 2px dashed #EEEEEE;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.head__flexContainer__selector__tableSupport {
  background-color: #2A2A30;
  width: 100%;
  height: 0;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  padding: 0 10px;
  margin: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.head__flexContainer__selector__tableSupport_action {
  height: 140px;
  border-top: 2px dashed #EEEEEE;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.head__flexContainer__selector__title {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 40px;
  font-weight: 400;
  color: #EEEEEE;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 100%;
}

.head__flexContainer__selector__subtitle {
  display: block;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px 0;
  color: #EEEEEE;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 20px;
  word-wrap: break-word;
}

.head__flexContainer__selector__subtitle::after {
  content: '';
  width: 0;
  display: block;
  position: relative;
  border-bottom: 2px solid #EEEEEE;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.head__flexContainer__selector__subtitle:hover::after {
  content: '';
  width: 140px;
  display: block;
  position: relative;
  border-bottom: 2px solid #EEEEEE;
}

.head__flexContainer__choseCity {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.head__flexContainer__choseCity__title {
  margin: 0;
  padding: 10px;
  width: 140px;
  height: 40px;
  font-weight: 400;
  color: #EEEEEE;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 100%;
}

.head__flexContainer__choseCity__titleCity {
  margin: 0 auto;
  padding: 10px;
  width: auto;
  height: 40px;
  font-weight: 400;
  color: #EEEEEE;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.head__flexContainer__choseCity__titleCity::after {
  content: '';
  width: auto;
  display: block;
  position: relative;
  bottom: -4px;
  border-bottom: 2px dashed #EEEEEE;
}

.head__flexContainer__tableCity {
  background-color: #2A2A30;
  padding: 10px;
  margin: 0;
  display: -ms-grid;
  display: grid;
  position: absolute;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
}

.head__flexContainer__tableCity::after {
  content: '';
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  width: auto;
  display: block;
  position: relative;
  border-bottom: 1px dashed #EEEEEE;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.head__flexContainer__tableCity__subtitle {
  display: block;
  color: #EEEEEE;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  padding: 0 5px;
  line-height: 20px;
  margin-bottom: 20px;
  background: none;
  border: none;
  text-align: left;
}

.head__flexContainer__tableCity__subtitle:focus {
  outline: none;
}

.head__flexContainer__tableCity__title {
  font-weight: 400;
  color: #EEEEEE;
  font-size: 18px;
  line-height: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.head__flexContainer__tableCity__title::after {
  content: '';
  width: 100%;
  display: block;
  position: relative;
  top: 10px;
  border-bottom: 1px dashed #EEEEEE;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.head__flexContainer__tableCity__buttonClose {
  width: 15px;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 0 0 0 auto;
  cursor: pointer;
  -webkit-transform: rotate(45deg) scale(0.9);
          transform: rotate(45deg) scale(0.9);
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.head__flexContainer__tableCity__buttonClose:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.head__flexContainer__tableCity__item::after {
  content: '';
  width: 0;
  display: block;
  position: relative;
  bottom: 15px;
  border-bottom: 2px solid #EEEEEE;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.head__flexContainer__tableCity__item:hover::after {
  content: '';
  width: 120px;
  display: block;
  position: relative;
  border-bottom: 2px solid #EEEEEE;
}

.head__flexContainer__formCity {
  width: 100%;
  height: 100%;
  display: none;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  background-color: rgba(238, 238, 238, 0.7);
}

.head__flexContainer__formCity_action {
  display: block;
}

* {
  font-family: 'Open Sans', 'sans-serif';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #EDEDED;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=style.css.map */