/*
Настройка шапки-----------------------------------
*/
//Шапка
.head {
    width: 100%;
    height: 40px;
    background-color: $headBackground;
//Контэйнер шапки
    &__flexContainer {
        display: flex;
        justify-content: left;
        height: auto;
        max-width: 1200px;
        margin: 0 auto;
        user-select: none;
    //Контейнер меню
        &__selector {
            width: 160px;
            display: flex;
            flex-direction: column;
        //Панель с доп инфой
            &__tableCompany {
                background-color: $headBackground;
                width: 100%;
                height: 0;
                border-radius: 0 0 6px 6px;
                overflow: hidden;
                padding: 0 10px;
                margin: 0;
                transition: all 0.2s ease-in-out;   
                //Когда активна
                &_action {
                    height: 110px;
                    border-top: 2px dashed $textFoot;
                    box-shadow: 0 4px 4px $shadow;
                }
            }
            &__tableSupport {
                background-color: $headBackground;
                width: 100%;
                height: 0;
                border-radius: 0 0 6px 6px;
                overflow: hidden;
                padding: 0 10px;
                margin: 0;
                transition: all 0.2s ease-in-out;   
                //Когда активна
                &_action {
                    height: 140px;
                    border-top: 2px dashed $textFoot;
                    box-shadow: 0 4px 4px $shadow;
                }
            }
        //Заголовок
            &__title {
                margin: 0;
                padding: 10px;
                width: 100%;
                height: 40px;
                font-weight: $normal;
                color: $textFoot;
                font-size: $fontNormal;
                text-transform: uppercase;
                line-height: 100%;
            }
        //Кнопки меню
            &__subtitle {
                display: block;
                width: 100%;
                height: fit-content;
                margin: 10px 0;
                color: $textFoot;
                font-size: $fontSmall;
                font-weight: $normal;
                text-decoration: none;
                line-height: 20px;
                word-wrap: break-word;
            //Когда наведен
                &::after {
                    content: '';
                    width: 0;
                    display: block;
                    position: relative;
                    border-bottom: 2px solid $textFoot;
                    transition: all 0.2s ease-in-out;
                }
                &:hover::after {
                    content: '';
                    width: 140px;
                    display: block;
                    position: relative;
                    border-bottom: 2px solid $textFoot;
                }
            }
        }
    //Контейнер выбора города
        &__choseCity {
            width: 320px;
            display: flex;
            cursor: pointer;
        //Заголовок
            &__title {
                margin: 0;
                padding: 10px;
                width: 140px;
                height: 40px;
                font-weight: $normal;
                color: $textFoot;
                font-size: $fontNormal;
                text-transform: uppercase;
                line-height: 100%;
                
            }
            &__titleCity {
                margin: 0 auto;
                padding: 10px;
                width: auto;
                height: 40px;
                font-weight: $normal;
                color: $textFoot;
                font-size: $fontNormal;
                line-height: 100%;
                text-align: center;
                &::after {
                    content: '';
                    width: auto;
                    display: block;
                    position: relative;
                    bottom: -4px;
                    border-bottom: 2px dashed $textFoot;
                }
            }
        }
    //Окно выбора города
        &__tableCity {
            background-color: $headBackground;
            padding: 10px;
            margin: 0;
            display: grid;
            position: absolute;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: min-content;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 600px;
            height: fit-content;
            border-radius: 6px;
            user-select: none;
            list-style: none;
            &::after {
                content: '';
                grid-column: 1/5;
                width: auto;
                display: block;
                position: relative;
                border-bottom: 1px dashed $textFoot;
                transition: all 0.2s ease-in-out;
            }
        //Города
            &__subtitle {
                display: block;
                color: $textFoot;
                font-size: $fontSmall;
                font-weight: $normal;
                text-decoration: none;
                cursor: pointer;
                padding: 0 5px;
                line-height: 20px;
                margin-bottom: 20px;
                background: none;
                border: none;
                text-align: left;
                &:focus {
                    outline: none;
                }
            }
        //Заголовок
            &__title {
                font-weight: $normal;
                color: $textFoot;
                font-size: $fontNormal;
                line-height: 100%;
                grid-row: 1;
                grid-column: 1/5;
                text-align: center;
                padding-bottom: 20px;
                text-transform: uppercase;
                &::after {
                    content: '';
                    width: 100%;
                    display: block;
                    position: relative;
                    top: 10px;
                    border-bottom: 1px dashed $textFoot;
                    transition: all 0.2s ease-in-out;
                }
            }
        //Кнопка закрытия
            &__buttonClose {
                width: 15px;
                grid-column: 4;
                grid-row: 1;
                margin: 0 0 0 auto;
                cursor: pointer;
                transform: rotate(45deg) scale(0.9);
                transition: all ease-in-out 0.2s;
                &:hover {
                    transform: rotate(90deg);
                }
            } 
        //Когда наведен
            &__item {
                &::after {
                    content: '';
                    width: 0;
                    display: block;
                    position: relative;
                    bottom: 15px;
                    border-bottom: 2px solid $textFoot;
                    transition: all 0.2s ease-in-out;
                }
                &:hover::after {
                    content: '';
                    width: 120px;
                    display: block;
                    position: relative;
                    border-bottom: 2px solid $textFoot;
                }
            } 
        }
    //Фон
        &__formCity {
            width: 100%;
            height: 100%;
            display: none;
            left: 0;
            top: 0;
            position: absolute;
            z-index: 1;
            background-color: rgba($color: $textFoot, $alpha: 0.7);
        //При активации 
            &_action {
                display: block;
            }
        }
    }
}