@import '_fonts&varibles';
@import '_head';
@import '_nav';
@import '_footer';

* {
    font-family: 'Open Sans', 'sans-serif';
    box-sizing: border-box;
}

html {
    background-color: $mainBackground;
}
.spacer {
    flex-grow: 1;
}