*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(    90deg, #000 0%, #62588A 29%, #7568A5 50%, #62588A 71%, #000 100%);
}

a:hover {
  text-decoration: none;  
}

.head {
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #374685;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 99999999;

    &__logo{
        position: absolute;
        margin: 0 20px 0 0;
    }

    h1 {
        position: absolute;
        left: 100px;
        height: 100%;
        color: #EADCC7;
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        margin: 0;
    }

    &__menu{
        display: block;
        color: #EADCC7;
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        width: 100%;
        text-align: center;
        margin: 0;
        transition: ease-out 0.1s;
    }

    &__line{
        display: block;
        width: 60%;
        margin: 0 20%;
        border-bottom: 3px solid #7568A5;
        transition: ease-out 0.1s;
    }

    &__link:hover{
        .head__line{
            width: 80%;
            margin: 0 10%;
            border-bottom: 3px solid #EADCC7;
            transition: ease-in 0.1s;
        }
        .head__menu{
            color: #7568A5;
            transition: ease-in 0.1s;
        }
    }
}

.top{
    margin: 70px 0 0 0;
    &__background{

        height: 600px;
        background-position-x: center;
        background-size: cover;
        background-position-y: center;
        background-repeat: no-repeat;
        border-radius: 16px;
    }

    &__mask{
        display: flex;
        background-color: rgba(27,37,70,0.61);
        width: 100%;
        height: 100%;
        border-radius: 16px;
        backdrop-filter: blur(20px);
        padding: 29px 0;
    }

    &__foto{

        height: 100%;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        border-radius: 16px;
    }

    &__menu{
        color: #EADCC7;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
    }

    &__line{
        display: block;
        width: 60%;
        border-bottom: 3px solid #7568A5;
        transition: ease-out 0.1s;
        margin-bottom: 20px;
    }

    &__raiting{
        display: flex;
        align-items: center;
        height: 70px;
    }

    &__icon{
        height: 100%;
    }

    &__schet{
        color: #EADCC7;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        margin: 0 60px 0 20px;
    }

    &__infa{
        color: #EADCC7;
        font-weight: 500;
        font-size: 25px;
        line-height: 36px;
    }

    &__link{
        color: #EADCC7;
        text-decoration: underline;
        text-decoration-color: #7568A5;
        transition: ease-out 0.1s;  
        
    }

    &__link:hover{
        color: #7568A5;
        text-decoration-color: #EADCC7;
        text-decoration: underline;
        transition: ease-in 0.1s;
    }

    .prochee{
        color: #B5A997;
    }

    .cut{
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}